<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) Grab Taxi Holdings PTE LTD (GRAB)
  ~
  ~ This source code is licensed under the MIT license found in the
  ~ LICENSE file in the root directory of this source tree.
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grab.partner.sdk.sampleappjava">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/GrabIdPartnerSDKTheme">

        <activity
            android:name=".view.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="open"
                    android:scheme="grabweblogin" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.grab.partner.sdk.ClientId"
            android:value="[obtain from GrabId team]" />
        <meta-data
            android:name="com.grab.partner.sdk.RedirectURI"
            android:value="[Redirect Url must register with Grab Id team during partner application registration process]" />
        <meta-data
            android:name="com.grab.partner.sdk.Scope"
            android:value="[obtain from GrabId team]" />
        <meta-data
            android:name="com.grab.partner.sdk.AcrValues"
            android:value="[optional parameter: sample value: consent_ctx:countryCode=SG service:PASSENGER, if presence this will add query string parameter 'acr_values=&lt;acr value string&gt;' in the /authorize api call]" />
        <meta-data
            android:name="com.grab.partner.sdk.Request"
            android:value="[optional parameter: if presence this will add query string parameter 'request=&lt;request string&gt;' in the /authorize api call]" />
        <meta-data
            android:name="com.grab.partner.sdk.LoginHint"
            android:value="[optional parameter: if presence this will add query string parameter 'login_hint=&lt;login hint string&gt;' in the /authorize api call]" />
        <meta-data
            android:name="com.grab.partner.sdk.IDTokenHint"
            android:value="[optional parameter: if presence this will add query string parameter 'id_token_hint=&lt;id_token_hint string&gt;' in the /authorize api call]" />
        <meta-data
            android:name="com.grab.partner.sdk.ServiceDiscoveryUrl"
            android:value="[obtain from GrabId team]" />
        <meta-data
            android:name="com.grab.partner.sdk.protectedResource"
            android:value="" />
    </application>

</manifest>